@import "tailwindcss";

:root {
  --background: #f7f3ef;
  --foreground: #6b5e5e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  background: #f7f3ef;
  color: #6b5e5e;
  min-height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}